/*common*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka One', cursive;
}
.container{
    width: 70%;
    margin:auto;
    text-align: center;
}
/*main*/
.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

h1 {
    margin: 30px 0;
    color: rgb(245, 0, 103);
}

.columns {
     background-color: black;
     color:white ;
     float: left;
     width: calc(100% / 3);
     padding: 0 10px;
}

img {
    width: 60px;
    float: left;

}

.content {
    float: right;
    width: calc(100%- 160px);
}