/*common*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka One', cursive;
}
.container{
    width: 100%;
    margin:auto;
    text-align: center;
    padding-bottom: 50px;
}
/*main*/
.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

h1 {
    margin: 30px 0;
    color: rgb(245, 0, 103);
}

.columns {
     color:white ; 
     
}

.col{
    background-color: black;
    float: left;
    padding-right: 10px;
    margin: 10px 60px;
    
    
}

img {
    width: 60px;
    float: left;

}

.content {
    float: right;
    width: calc(100%- 160px);

}

.blue{
    color: rgb(97, 190, 181);
}
